.first{
display:grid;
grid-template-columns: auto auto;

.Second{
    display:flex;
    margin-top:50px;

 .Picture1{
     background-image: url("../src/Patten_Bottom.png");
     margin-top:420px;
     width:463px;
     height:462.05px;
 }
  .Picture2{
      background-image:url("../src/image.png");
      position:absolute;
      margin-left:305px;
      height:729.33px;
      width:649px;
  }
}
.third{
    display:flex;
    margin-left:358px;
    

    .Loginbox{
        border-radius: 15px;
        box-shadow: 0px 8px 20px;
        position:absolute;
        margin-left:320px;
        border-radius: 15px;
        background-color: #F7F7FC;
        width:525px;
        height:774px;
        margin-top:150px;
        justify-content: center;
        padding:32px;
        .AB{
            font-family: Lato;
            font-style: normal;
            font-weight:bold;
            font-size: 48px;
            line-height:130%;
            color:#F45B0F;
           
        }
        .AC{
            font-family:Lato;
            font-weight:300;
            line-height:130%;
            font-size: 32px;
            color:#16056B;
            // margin:16px 10px;
            
        }
        .AD{
            display:flex;
            
       .AD1{
        font-size: 24px;
        font-family: Lato;
            font-style:normal;
            font-weight:normal;
            line-height:100%;
             margin:24px 0px;

            position: static;
            
            height: 24px;
            left: 32px;
            top: 248px;
                          }
         .AD2{
            font-family: Lato;
            font-size: 24px;
            
            font-style:normal;
            font-weight:normal;
            line-height:100%;
             margin:24px 0px;

            position: static;
           
           height: 24px;
             left: 32px;
            top: 248px;
            color:#12BDF4;
                          }                  
            
    }
        .AE{
            display:flex;
            flex-direction: row;
           align-items: center;
           justify-content: space-between;

            

            margin: 24px 0px;
            padding: 8px 15px;
           color:#16056B;
            border-radius: 15px;

            width:461px;
            height:72px ;
            left:32px;
            top:670px;
            background-color: #F7F7FC ;
           border:1px solid #16056B;

             
        }
        .orange{
            color:#F45B0F;
        }
        .underline{
            font-style: italic;
            text-decoration: underline;

                        }
        .AF{
            display:flex;
            flex-direction: row;
           align-items: center;
           justify-content: center;

            margin: 24px 0px;
            padding: 8px 15px;
           color:white;
            border-radius: 15px;

            width:461px;
            height:72px ;
            left:32px;
            top:670px;
            background-color: #16056B; 
        }
    }

    .Picture3{
     background-image: url("../src/Patten_Top.png");   
     margin-left:600px;
     height:569.99px;
    width:500.26px;
    }
}
}
@media only screen and (min-width: 100px) and (max-width:600px){
    .first{
        // display:grid;
        display: flex;
        grid-template-columns: auto auto;
        flex-direction: column;
        .Second{
            display:flex;
            margin-top:50px;
           
         .Picture1{
             
             background-image: url("../src/Patten_Bottom.png");
             margin-top:10px;
             width:100px;
             height:110px;
         }
          .Picture2{
              background-image:url("../src/image.png");
              position:absolute;
              margin-left:305px;
              height:729.33px;
              width:649px;
          }
        }
        .third{
            display:flex;
            margin-left:358px;
            
        
            .Loginbox{
                border-radius: 15px;
                box-shadow: 0px 8px 20px;
                position:absolute;
                margin-left:320px;
                border-radius: 15px;
                background-color: #F7F7FC;
                width:525px;
                height:774px;
                margin-top:150px;
                justify-content: center;
                padding:32px;
                .AB{
                    font-family: Lato;
                    font-style: normal;
                    font-weight:bold;
                    font-size: 48px;
                    line-height:130%;
                    color:#F45B0F;
                   
                }
                .AC{
                    font-family:Lato;
                    font-weight:300;
                    line-height:130%;
                    font-size: 32px;
                    color:#16056B;
                    // margin:16px 10px;
                    
                }
                .AD{
                    display:flex;
                    
               .AD1{
                font-size: 24px;
                font-family: Lato;
                    font-style:normal;
                    font-weight:normal;
                    line-height:100%;
                     margin:24px 0px;
        
                    position: static;
                    
                    height: 24px;
                    left: 32px;
                    top: 248px;
                                  }
                 .AD2{
                    font-family: Lato;
                    font-size: 24px;
                    
                    font-style:normal;
                    font-weight:normal;
                    line-height:100%;
                     margin:24px 0px;
        
                    position: static;
                   
                   height: 24px;
                     left: 32px;
                    top: 248px;
                    color:#12BDF4;
                                  }                  
                    
            }
                .AE{
                    display:flex;
                    flex-direction: row;
                   align-items: center;
                   justify-content: space-between;
        
                    
        
                    margin: 24px 0px;
                    padding: 8px 15px;
                   color:#16056B;
                    border-radius: 15px;
        
                    width:461px;
                    height:72px ;
                    left:32px;
                    top:670px;
                    background-color: #F7F7FC ;
                   border:1px solid #16056B;
        
                     
                }
                .orange{
                    color:#F45B0F;
                }
                .underline{
                    font-style: italic;
                    text-decoration: underline;
        
                                }
                .AF{
                    display:flex;
                    flex-direction: row;
                   align-items: center;
                   justify-content: center;
        
                    margin: 24px 0px;
                    padding: 8px 15px;
                   color:white;
                    border-radius: 15px;
        
                    width:461px;
                    height:72px ;
                    left:32px;
                    top:670px;
                    background-color: #16056B; 
                }
            }
        
            .Picture3{
             background-image: url("../src/Patten_Top.png");   
             margin-left:600px;
             height:569.99px;
            width:500.26px;
            }
        }
        } 
    
}
